@require './config'

.content
  code
    color lighten($textColor, 20%)
    padding 0.125rem 0.5rem
    margin 0
    background-color #f7f7ff
    border-radius 3px

.content
  pre
    code
      padding: 0
      background-color: transparent
